extends layout

block content
	div.container(ng-controller="mainCtrl" layout="row" flex)

		// Load the sidenav
		include sidenav

		md-content.md-padding(layout="column" flex)
			h3.md-display-2(ng-class="{noDisplay: !selectedUser}") {{selectedUser.name}}
			p(ng-class="{noDisplay: !selectedUser}") {{selectedUser.summary}}
			div.md-padding(layout="row")
				md-list(flex="50")
					md-list-item.md-whiteframe-z2(ng-repeat="post in blogPosts | filter : {author_id: selectedUser._id} | orderBy : postDate" layout="column" layout-margin)
						h2.md-display-1 {{post.title}}
						p Posted: {{post.postDate | date : "dd MMM, y - HH:mm"}}
						p {{post.content | blurbFilter}}
						p By {{post.author}}
						a(ng-href="/postView/{{post._id}}") Read