extends layout

block content
	div.container(ng-controller="mainCtrl" layout="row" flex)

		// Load the sidenav
		include sidenav

		md-content.md-padding(layout="column" flex="80")
			h1.md-display-3 Main title
			h3.md-display-2 {{selectedUser.name}}
			p {{selectedUser.summary}}
			div.md-padding(layout="row" layout-align="center")
				md-list(flex="50")
					md-list-item(ng-repeat="post in blogPosts | filter : {author_id: selectedUser._id} | orderBy : postDate" layout="column")
						h2.md-display-1 {{post.title}}
						p Posted: {{post.postDate | date : "dd MMM, y - HH:mm"}}
						p {{post.content | blurbFilter}}
						p By {{post.author}}