doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name="description", content="Blogger is a platform that allows it's users to create content about whatever they want and post it.")
  title Blogger | #{title} &#150; Post your article
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
  link(rel='stylesheet' type='text/css' href='css/angular-material.min.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')

  body(ng-app="blogger" layout="column")
    // load navbar.jade
    include navbar

    // content block
    block content

    // footer
    //p &copy; Blogger 2016

    //scripts
    
    script(src="/scripts/vendor.bundle.js")
    script(src="/scripts/main.bundle.js")