extends layout

block content
	div.container(ng-controller="registerCtrl as rc" layout="row" layout-align="center center" flex)
		div.md-whiteframe-z2(flex="50")
			md-content.md-padding
				form(method="post" action="/login" layout="column")
					md-input-container
						label Email
						input(type="email" name="email" placeholder="yourEmail@example.com" required)
					md-input-container
						label Password
						input(type="password" name="password" placeholder="Enter your password" required)
					md-button.md-primary(type="submit") Log In